* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: darkblue;
  color: #0b0101;
  padding-top: 60px;
  padding-left: 10px;
  width: 98%;
  text-align: center;
  align-content: center;
  
}

html, body {
    height: 100%; /* ضمان أن الصفحة تغطي كامل الشاشة */
    display: flex;
    flex-direction: column;
    
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
  padding: 10px;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  flex-direction: row;
}

.menu-icon span {
  font-size: 25px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  margin-left: 10px;
}

.menu-icon .hhh {
  position: fixed;
  left:40%;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 30px;
  left: 0;
  background-color: darkcyan;
  overflow-x: hidden;
  transition: 0.5s ease;
  padding-top: 40px;
}

.sidebar a {
  background-color: #f5f5f5;
  display: block;
  margin:30px 50px;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: 0.3s ease;
  border-radius: 10px;
}


.sidebar a:hover {
  background-color: #575757;
}

#main-content {
  flex: 1;
  transition: 0.5s ease;
  padding:5px;
}



.alert-box {
  background-color: #fff9e6;
  border: 1px solid #ffc107;
  padding: 15px;
  margin: 15px 0px;
  border-radius: 5px;
  position: relative;
}

.alert-box p {
  font-size: 14px;
  line-height: 1.5;
}

.warning-icon {
  font-weight: bold;
  color: #e74c3c;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.ads-section {
  background-color: #00fff9;
  border-radius: 8px;
  padding-top: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.ads-section h1 {
  font-size: 20px;
  /* display: flex; */
  margin:10px;
  justify-content: space-between;
  text-align: center; 
}


.ad-item h2 {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
} */

.ad-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

.ad-info h4 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}


.carousel-container {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.ad-item {
  flex: 0 0 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  width: 95%;

}

.ad-item img{
  width: 70%;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.nav-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


footer {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 15px;
  margin : 20px 10px 20px 10px ;
  border: 1px solid #393;
  border-radius: 8px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-section {
  width: 30%;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;

}

.footer-section ul li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ff9800;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 15px;
}

.social-icons img {
  width: 100px;
  margin-right: 10px;
}

.icons a img {
  width: 20px;
  margin-right: 10px;
}

.icons a:hover {
  opacity: 0.8;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}
.night-mode-btn{
  padding: 0px;
  margin: 0px;
  background-color: #4d3a2a;
  border: 0;
  width: 100px;
}

